.about {
  background-image: url(../img/Grouplineup.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.about-text {
  /* width: 832px; */
  margin: 0;
}

.about-block {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 32px;
  gap: 35px;
  /* margin-top: 32px; */
}

.about-container {
  min-height: 1066px;
  margin-top: 84px;
  /*   margin-bottom: 150px; */
}

.h3-about {
  margin-top: 12px;
  margin-bottom: 20px;
}

.about-descriptions::after {
  content: "Пока конкуренты говорят о том, что они лучшие - мы это доказываем делом.";
}

.button-about_block {
  /*   width: 200px;
  height: 57px; */
  margin: 0;
  margin-top: 44px;
  /*   flex-shrink: 0; */
}

.button-about {
  width: 200px;
  height: 57px;
  border-radius: 4px;
  border: 1.5px solid #2eecc5;
  background: #161617;
  box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.2);
  cursor: pointer;
}

.button-about_shadow {
  width: 200px;
  height: 57px;
  border-radius: 4px;
  border: 1.5px solid rgba(46, 236, 197, 0.4);
  margin-top: -45px;
  margin-left: 8px;
}

.button-about p {
  /* color: #fff; */
  /* font-family: Ruberoid; */
  font-size: 19px;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: normal;
}

.about-card {
  width: 400px;
  height: 400px;
  border-radius: 6px;
  border: 1px solid #fff;
  background: linear-gradient(
    140deg,
    #303134 10.06%,
    #282828 53.72%,
    #282828 88%
  );
  box-shadow: 0 0 80px 0 rgba(44, 44, 45, 0.35);
  flex-shrink: 0;
}

.about-card_prise {
  margin: 0;
  background: linear-gradient(
    140deg,
    #527791 10.06%,
    #325597 53.72%,
    #193895 88%
  );
  box-shadow: 0 0 150px 0 rgba(59, 95, 150, 0.35);
  flex-shrink: 0;
}

.about-card_text {
  margin-top: 38px;
  margin-left: 42px;
  display: flex;
  flex-direction: column;
}

.about-card_title {
  font-size: 26px;
  line-height: 123%;
  margin: 0;
  margin-bottom: 20px;
  width: 258px;
}
.about-card_subtitle {
  font-weight: 500;
  font-size: 17px;
  line-height: 123%;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  width: 297px;
}
.about-card_image {
  margin-right: 0;
  margin-top: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.about-image_prise {
  width: 211px;
  height: 211px;
  background-image: url(../img/cardimage/money.svg);
  margin-top: 0;
}
.about-image_support {
  width: 183px;
  height: 189px;
  background-image: url(../img/cardimage/support.svg);
}
.about-image_employ {
  width: 156px;
  height: 189px;
  background-image: url(../img/cardimage/employ.svg);
}
.about-image_time {
  width: 200px;
  height: 189px;
  background-image: url(../img/cardimage/time.svg);
}

@media (min-width: 2400px) {
  .about {
    background-image: none;
  }
}

@media (max-width: 1440px) {
  .about {
    background-image: none;
  }

  .about-container {
    margin-top: 52px;
  }

  .about-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin-bottom: 35px;
  }

  .h3-about {
    text-align: center;
    font-size: 29px;
  }

  .about-descriptions {
    text-align: center;
  }

  .about-descriptions::after {
    content: "Вы можете ознакомиться с информацией о нас и посмотреть наше портфолио";
  }

  .about-description {
    display: none;
  }

  .button-about_block {
    position: relative;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    align-items: flex-end;
    justify-content: center;
  }
  .button-about p {
    font-size: 13px;
  }

  .button-about {
    width: 131px;
    height: 41px;
  }
  .button-about_shadow {
    position: absolute;
    width: 131px;
    height: 41px;
  }

  .info {
    border: 1.5px solid #208c76;
    border-radius: 41px;
    width: 324px;
    height: 38px;
    box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.1);
    background: rgba(46, 236, 197, 0.04);
    display: flex;
    align-items: center;
    margin-top: 19px;
  }

  .info p {
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    color: #fff;
  }

  .about-card {
    width: 289px;
    height: 289px;
  }

  .about-card_text {
    margin-top: 38px;
    margin-left: 23px;
  }

  .about-card_title {
    font-size: 22px;
    width: 228px;
  }

  .about-card_subtitle {
    font-size: 12px;
    width: 210px;
  }

  .about-image_prise {
    width: 158px;
    height: 139px;
    margin-top: 19px;
    margin-left: 125px;
  }

  .about-image_time {
    width: 136px;
    height: 130px;
    margin-top: 2px;
    margin-left: 128px;
  }

  .about-image_employ {
    width: 136px;
    height: 130px;
    margin-top: 0;
    margin-left: 152px;
  }

  .about-image_support {
    width: 125px;
    height: 126px;
    margin-top: 4px;
    margin-left: 142px;
  }
}
