.about {

  background-image: url(../img/Grouplineup.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.about-text {
  width: 832px;
  margin: 0;
}

.about-block {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 32px; */
  gap: 35px;
  margin-top: 32px;
}

.about-container {
  min-height: 1066px;
  margin-top: 84px;
/*   margin-bottom: 150px; */
}

.h3-about {
  margin-top: 12px;
  margin-bottom: 20px;
}

/* .about-description {
  color: rgba(255, 255, 255, 0.65);
  font-size: 17px;
  line-height: normal;
  margin-bottom: 13px;
}
 */
.button-about_block {
  width: 200px;
  height: 57px;
  margin: 0;
  margin-top: 44px;
  flex-shrink: 0;
}

.button-about {
  width: 200px;
  height: 57px;
  border-radius: 4px;
  border: 1.5px solid #2eecc5;
  background: #161617;
  box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.2);
  cursor: pointer;
}

.button-about_shadow {
  width: 200px;
  height: 57px;
  border-radius: 4px;
  border: 1.5px solid rgba(46, 236, 197, 0.4);
  margin-top: -45px;
  margin-left: 8px;
}

.button-about p {
  /* color: #fff; */
  /* font-family: Ruberoid; */
  font-size: 19px;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: normal;
}

.about-card {
  width: 400px;
  height: 400px;
  border-radius: 6px;
  border: 1px solid #fff;
  background: linear-gradient(
    140deg,
    #303134 10.06%,
    #282828 53.72%,
    #282828 88%
  );
  box-shadow: 0 0 80px 0 rgba(44, 44, 45, 0.35);
}

.about-card_prise {
  margin: 0;
  background: linear-gradient(
    140deg,
    #527791 10.06%,
    #325597 53.72%,
    #193895 88%
  );
  box-shadow: 0 0 150px 0 rgba(59, 95, 150, 0.35);
}

.about-card_text {
  margin-top: 38px;
  margin-left: 42px;
  display: flex;
  flex-direction: column;
}

.about-card_title {
  font-size: 26px;
  line-height: 123%;
  margin: 0;
  margin-bottom: 20px;
  width: 258px;
}
.about-card_subtitle {
  font-weight: 500;
  font-size: 17px;
  line-height: 123%;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  width: 297px;
}
.about-card_image {
  margin-right: 0;
  margin-top: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.about-image_prise {
  width: 211px;
  height: 211px;
  background-image: url(../img/cardimage/money.svg);
  margin-top: 0;
}
.about-image_support {
  width: 183px;
  height: 189px;
  background-image: url(../img/cardimage/support.svg);
}
.about-image_employ {
  width: 156px;
  height: 189px;
  background-image: url(../img/cardimage/employ.svg);
}
.about-image_time {
  width: 200px;
  height: 189px;
  background-image: url(../img/cardimage/time.svg);
}


@media (min-width: 2400px) {
  .about {
    background-image: none;
  }
}


