.contact {
  margin: 0;
}
.contact-container {
  margin-top: 42px;
}
.contact-block {
  /* margin: 0; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-text {
  margin: 0;
  display: flex;
}

.star {
  /* margin: 0; */
  width: 32px;
  height: 32px;
  background-image: url(../img/star.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.star-small {
  margin: 0;
  width: 16px;
  height: 16px;
  background-image: url(../img/starsmall.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.star-left_up {
  margin-top: 96px;
}
.star-right_up {
  margin-left: 480px;
}
.star-left {
  margin-top: 11px;
  margin-right: 474px;
}
.star-right {
  margin-top: 16px;
}

/* section ball */

.contact-ball_container {
  margin: 0;
  margin-top: 40px;
  width: 814px;
  display: flex;
  justify-content: space-between;
}

.contact-ball_block {
  margin: 0;
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-ball {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.contact-ball_s {
  width: 110px;
  height: 110px;
  background-image: url(../img/ball/Ellipse.svg);
}

.contact-ball_m {
  width: 120px;
  height: 120px;
  background-image: url(../img/ball/Ellipse.svg);
}

.contact-ball_l {
  width: 128px;
  height: 128px;
  background-image: url(../img/ball/Ellipse.svg);
}

.ball {
  /* width: 90px;
  height: 90px; */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ball-s {
  width: 90px;
  height: 90px;
  background-image: url(../img/ball/ball.svg);
}

.ball-m {
  width: 100px;
  height: 100px;
  background-image: url(../img/ball/ball.svg);
}

.ball-l {
  width: 108px;
  height: 108px;
  background-image: url(../img/ball/ball.svg);
}

.contact-ball_hover {
  width: 165px;
  height: 165px;
}

.ball-hover {
  width: 140px;
  height: 140px;
  background-image: url(../img/ball/Combined-Shape.svg);
}

.max {
  width: 54px;
  height: 45px;
  background-image: url(../img/ball/Max.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.max-hover {
  width: 74px;
  height: 55px;
}

.tg {
  width: 43px;
  height: 40px;
  background-image: url(../img/ball/tg-s.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.tg-hover {
  width: 69px;
  height: 59px;
}
.vk {
  width: 49px;
  height: 33px;
  background-image: url(../img/ball/vk.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.vk-hover {
  width: 69px;
  height: 43px;
}

.mail {
  width: 49px;
  height: 46px;
  background-image: url(../img/ball/gmail.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.mail-hover {
  width: 69px;
  height: 66px;
}

.draggable:hover {
  cursor: url(../img/Pointer.svg), grabbing;
}
