h1,
h2,
h3,
h4 {
  background: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 165.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 65px;
  line-height: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 45px;
  line-height: normal;
  text-transform: uppercase;
}

h3 {
  text-shadow: 0 0 36px rgba(165, 252, 235, 0.2);
  font-size: 55px;
  line-height: 110.6%; /* 60.83px */
}

h4 {
  text-shadow: 0 0 36px rgba(165, 252, 235, 0.2);
  font-size: 50px;
  line-height: 110.6%; /* 55.3px */
}

h5 {
  color: var(--Mono-White, #fff);
  font-size: 96px;
  line-height: normal;
  letter-spacing: 1.92px;
}
