.footer-container {
  margin-top: 93px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.copyright {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  font-family: Ruberoid;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 105.6%; /* 15.84px */
  margin-bottom: 17px;
}

.agreement a {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Ruberoid;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 105.6%; /* 13.728px */
}
