.footer-container {
  margin-top: 68px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.copyright {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);

  font-size: 15px;
  line-height: 106%;
  margin-bottom: 10px;
}

.agreement a {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 13px;
  line-height: 106%;
}


@media (max-width: 576px) {
  .copyright {
    font-size: 9px;
  }

  .agreement a {
    font-size: 9px;
  }
}