.forma {
  width: 100%;
  height: 458px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    92deg,
    #313134 -11.81%,
    #222224 23.9%,
    #12473c 60.63%,
    #292929 110.44%
  );
}

.forma-container {
  display: flex;
  justify-content: space-between;
}

.forma-block {
  margin: 0;
}

.forma-text {
  margin-top: 40px;
}

.forma-text p{
  font-weight: bold;
  font-size: 50px;
  line-height: 111%;
  background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.forma_ {
  margin: 0;
  margin-top: 25px;
  width: 923px;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.description {
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.8%;
}

.description_block {
  margin: 0;
  display: flex;
  flex-direction: column;
}

label {
  margin: 0;
}

.field {
  width: 437px;
  height: 52px;
  border-radius: 41px;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 38px 0 rgba(255, 255, 255, 0.05);
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.button-forma_container {
  width: 437px;
  height: 52px;
  margin-top: 27px;
}

.button-forma {
  width: 184px;
  height: 52px;
  border-radius: 41px;
  border: 1.5px solid #2eecc5;
  background: rgba(46, 236, 197, 0.1);
  box-shadow: 0 0 38px 0 rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.button-forma p {
  font-size: 17px;
  line-height: 153.8%;
}

.custom-input {
  color: rgba(255, 255, 255, 0.7);
  font-family: Ruberoid;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.8%;
}



.phone-block {
  position: relative;
  margin: 0;
  margin-top: -32px;
  width: 270px;
  height: 529px;
  background-image: url(../img/iphone.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* justify-content: center; */
  /* gap: 108px; */
}

.notification {
  position: absolute;
  border-radius: 29px;
  width: 213px;
  height: 58px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  margin: 0;
  top: 76px;
  right: 182px;
  /* margin-top: 76px;
  margin-right: 306px; */
}

.notification-image {
  width: 43px;
  height: 43px;
  margin: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-image_phone {
  position: absolute;
  margin-top: 6px;
}

/* .notification-text {
} */

.notification-text_title {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
}
.notification-text_subtitle {
  font-size: 12px;
  line-height: 106%;
  color: rgba(255, 255, 255, 0.7);
}

.notification-end {
  position: absolute;
  border-radius: 29px;
  width: 213px;
  height: 58px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  margin: 0;
  top: 242px;
  left: 194px;
}

.notification-image_end {
  position: relative;
  width: 43px;
  height: 43px;
  margin: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-image_ball {
  position: absolute;
  margin-top: 6px;
}

/* .notification-text {
} */

.notification-text_title_end {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
}
.notification-text_subtitle_end {
  font-size: 12px;
  line-height: 106%;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1560px) {
  .notification-end {
    visibility: hidden;
}
  .notification {
    visibility: hidden;
}
}