.header-container {
  max-height: 1055px;
  background-image: url(../img/room.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.line {
  width: 100%;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(42, 188, 158, 0) 0%,
    #2abc9e 48.65%,
    rgba(42, 188, 158, 0) 100%
  );
}

.lamp {
  width: 127px;
  height: 29px;
  background-image: url(../img/lamp.svg);
  background-repeat: no-repeat;
  margin-bottom: 20px;
  margin-left: 504px;
}

.menu {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 220px;
}

.logo {
  width: 96px;
  height: 57px;
  margin: 0;
}
.logo-studio {
  transform: rotate(-0.192deg);
  font-size: 17px;
  font-weight: bold;
  line-height: 140.6%;
  letter-spacing: 5.27px;
  text-transform: uppercase;
}

.logo-studio::after {
  content: "studio";
}
.logo-web {
  transform: rotate(-0.192deg);
  font-size: 40px;
  font-weight: bold;
  line-height: 140.6%;
  letter-spacing: -4.6px;
  text-transform: uppercase;
  margin-top: -18px;
}

.logo-web::after {
  content: "web";
}

.button {
  width: 183px;
  height: 57px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  display: none;
}

.button-image {
  position: absolute;
  width: 307px;
  height: 156px;
  background-image: url(../img/button.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  width: 97px;
  height: 21px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text p {
  font-size: 20px;
  line-height: normal;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-basis: 40%;
  margin-left: 340px;
}

.main-menu_mobile {
  display: none;
}

.main-menu a {
  font-size: 20px;
  line-height: normal;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-text {
  margin: 0;
  min-width: 808px;
}

.h1-blur {
  font-weight: bold;
  font-size: 65px;
  background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  filter: blur(45px);
  margin-top: -89px;
}

.h2-blur {
  font-weight: bold;
  font-size: 45px;
  background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  filter: blur(45px);
  margin-top: -93px;
  margin-bottom: 31px;
}

.header-text h2 {
  margin-top: -5px;
  margin-bottom: 31px;
}

.button-block {
  width: 454px;
  display: flex;
  align-items: center;
  margin: 0;
}

.details {
  margin: 0;
  width: 200px;
  height: 57px;
  border-radius: 41px;
  border: 1.5px solid #2eecc5;
  background: rgba(46, 236, 197, 0.1);
  cursor: pointer;
}

.button-text {
  margin: 0;
  width: 150px;
  display: flex;
  align-items: center;
  margin-left: 28px;
}

.button-description {
  margin: 0;
  font-size: 19px;
  line-height: normal;
}

.details img {
  width: 9px;
  height: 15px;
  margin-top: 4px;
}

.question {
  color: rgba(255, 255, 255, 0.4);
  font-size: 19px;
  line-height: normal;
}

.man {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}
.man-image {
  position: relative;
  width: 663px;
  height: 844px;
  top: -115px;
  left: 46px;
  z-index: 1;
  background-image: url(../img/man.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.circle-image {
  position: absolute;
  width: 700px;
  height: 700px;
  left: 119px;
  top: 8px;
  background-image: url(../img/circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
}




@media (max-width: 1524px) {
  .header-container {
    min-height: 640px;
  }

  .lamp {
    display: none;
  }
  .menu {
    flex-direction: row-reverse;
    margin-top: 49px;
    margin-bottom: 140px;
  }
  .button {
    display: none;
  }
  .main-menu {
    display: none;
  }

  .main-menu_mobile {
    position: absolute;
    height: 338px;
    margin-top: -49px;
    display: flex;
    flex-direction: column;
    width: 90%;
    background: linear-gradient(137deg, #161919 0%, #373a3a 98.26%);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transform: translateY(-100%);
    transition: 0.1s;
  }

  .main-menu_mobile.active {
    transform: translateY(0%);
    margin-top: -51px;
  }

  ul li {
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul li a {
    font-weight: bold;
    font-size: 20px;
    line-height: 118%;
    background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  ul li:hover {
    background: linear-gradient(
      100deg,
      #30dbb8 0%,
      #37a58f 36.1%,
      #398778 100%
    );
  }

  ul li:nth-child(1) {
    margin-top: 110px;
  }

  .logo {
    width: 69px;
    height: 47px;
    background-image: url(../img/logo-m.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .logo-studio {
    display: none;
  }
  .logo-web {
    display: none;
  }

  .header-text {
    min-width: 228px;
  }

  .h1-blur {
    display: none;
  }
  .h2 {
    display: none;
  }

  .man-image {
    /* position: relative; */
    width: 330px;
    height: 412px;
    top: 0;
    left: 118px;
  }

  .circle-image {
    /* position: absolute; */
    width: 347px;
    height: 347px;
    left: 140px;
    top: 70px;
  }
}

@media (max-width: 620px) {
  .man-image {
    left: 67px;
  }
}

@media (max-width: 576px) {
  .man-image {
    left: -50px;
  }
}

@media (max-width: 480px) {
  .man-image {
    left: -76px;
  }
}

@media (max-width: 380px) {
  .man-image {
    left: -125px;
  }
}