* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* margin: 0; */
  margin: 0 auto;
  text-decoration: none;
}

body {
  background-color: #161617;
  font-family: "Ruberoid", sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
}

p,
a,
button {
  font-family: "Ruberoid", sans-serif;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1274px;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}


