* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0 auto;
  text-decoration: none;
}

body {
  background-color: #161617;
  font-family: "Ruberoid", sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
}

p,
a,
button {
  font-family: "Ruberoid", sans-serif;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1274px;
}


li {
  margin: 0;
  list-style: none;
}

@font-face {
  font-family: 'Ruberoid';
  src: url('../font/Ruberoid-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Показываем fallback-шрифт, пока грузится основной */
}




