* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0 auto;
  text-decoration: none;
}

body {
  background-color: #161617;
  font-family: 'Ruberoid', sans-serif;
  color: #fff;
  margin: 0 auto;
  padding: 0;
  font-weight: bold;
  font-style: normal;
  font-weight: 400;
}

a, button {
  color: #fff;
}


.container {
  width: 90%;
  max-width: 1274px;
}


