.portfolio {
  min-height: 778px;
position: relative;
}

.portfolio-container {
  margin-top: 132px;
  /* margin-bottom: 310px; */
}

.portfolio-block {
  display: flex;
  justify-content: space-between;
  gap: 140px;
}
.portfolio-text {
  margin: 0;
}


.portfolio-description {
  width: 526px;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 44px;
  color: rgba(255, 255, 255, 0.65);
  font-size: 17px;
  line-height: 153.8%;
}

.button-portfolio {
  width: 269px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 49px;
  border: 1.5px solid #2eecc5;
  background: rgba(46, 236, 197, 0.1);
  box-shadow: 0 0 37px 0 rgba(46, 236, 197, 0.2);
}

.button-portfolio p {
  color: #fff;
  /* font-family: Ruberoid; */
  font-size: 17px;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: normal;
}
