.contact-ball_container {
  margin-top: 40px;
  width: 826px;
  display: flex;
  justify-content: center;
  gap: 46px;
}

.contact-ball_block {
  margin: 0;
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-ball {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.contact-ball_s {
  width: 110px;
  height: 110px;
  background-image: url(../img/ball/Ellipse.svg);
}

.contact-ball_m {
  width: 120px;
  height: 120px;
  background-image: url(../img/ball/Ellipse.svg);
}

.contact-ball_l {
  width: 128px;
  height: 128px;
  background-image: url(../img/ball/Ellipse.svg);
}

.ball {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ball-s {
  width: 90px;
  height: 90px;
  background-image: url(../img/ball/ball.svg);
}

.ball-m {
  width: 100px;
  height: 100px;
  background-image: url(../img/ball/ball.svg);
}

.ball-l {
  width: 108px;
  height: 108px;
  background-image: url(../img/ball/ball.svg);
}

.contact-ball_hover {
  width: 165px;
  height: 165px;
  transition: width 0.2s ease, height 0.2s ease;
}

.ball-hover {
  width: 140px;
  height: 140px;
  background-image: url(../img/ball/Combined-Shape.svg);
  transition: width 0.2s ease, height 0.2s ease;
}

.max {
  width: 54px;
  height: 45px;
  background-image: url(../img/ball/Max.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.max-hover {
  width: 74px;
  height: 55px;
  transition: width 0.2s ease, height 0.2s ease;
}

.tg {
  width: 43px;
  height: 40px;
  background-image: url(../img/ball/tg-s.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.tg-hover {
  width: 69px;
  height: 59px;
  transition: width 0.2s ease, height 0.2s ease;
}
.vk {
  width: 49px;
  height: 33px;
  background-image: url(../img/ball/vk.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.vk-hover {
  width: 69px;
  height: 43px;
  transition: width 0.2s ease, height 0.2s ease;
}

.mail {
  width: 49px;
  height: 46px;
  background-image: url(../img/ball/gmail.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.mail-hover {
  width: 69px;
  height: 66px;
  transition: width 0.2s ease, height 0.2s ease;
}

.draggable:hover {
  cursor: url(../img/Pointer.svg), grabbing;
}

@media (max-width: 960px) {
  .contact-ball_container {
    /* margin-top: 40px; */
    width: 100%;
    /* display: flex;
    justify-content: center; */
    gap: 14px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* width: 400px; */
    height: 86px;
    background: linear-gradient(
      110deg,
      #313134 0%,
      #222224 42.27%,
      #292929 100%
    );
  }

  .contact-ball_block {
    height: 84px;
  }

  .contact-ball_s,
  .contact-ball_m,
  .contact-ball_l {
    width: 55px;
    height: 55px;
  }

  .ball-s,
  .ball-m,
  .ball-l {
    width: 45px;
    height: 45px;
    background-image: url(../img/ball/ball-m.svg);
  }

  .contact-ball_hover {
    width: 65px;
    height: 65px;
  }

  .ball-hover {
    width: 55px;
    height: 55px;
    background-image: url(../img/ball/Combined-m.svg);
  }

  .vk {
    width: 24px;
    height: 15px;
    background-image: url(../img/ball/vk-m.svg);
  }

  .vk-hover {
    width: 34px;
    height: 20px;
  }

  .mail {
  width: 27px;
  height: 24px;
  background-image: url(../img/ball/gmail-m.svg);
}
.mail-hover {
  width: 36px;
  height: 33px;
}

.tg {
  width: 20px;
  height: 18px;
  background-image: url(../img/ball/tg-m.svg);
}

.tg-hover {
  width: 30px;
  height: 28px;
}

.max {
  width: 27px;
  height: 18px;
}

.max-hover {
  width: 37px;
  height: 28px;
  transition: width 0.2s ease, height 0.2s ease;
}
}
