.slider-portfolio {
  width: 1235px;
  overflow: hidden;
  margin: 0;
}

.slides-portfolio {
  margin: 0;
  display: flex;
  gap: 104px;
  transition: transform 0.5s ease;
}

.slide-portfolio {
  width: 569px;
  height: 365px;
}

.slide-portfolio img {
  border: 1px solid rgba(46, 236, 197, 0.5);
  border-radius: 6px;
  width: 567px;
  height: 363px;
}

.arrow-portfolio {
  position: absolute;
  top: 38%;
  z-index: 1;
  right: 0;
  gap: 496px;
  flex-shrink: 0;
}

@media (max-width: 1440px) {
  .arrow-portfolio {
    position: relative;
    gap: 35px;
  }

  .slide-portfolio {
    width: 258px;
    height: 153px;
  }

  .slide-portfolio img {
    width: 258px;
    height: 153px;
  }

  .slider-portfolio {
    width: 553px;
}
  .slides-portfolio {
    gap: 37px;
}
}
