.slider-portfolio_container {
  /* position: relative; */
  /*  margin: 0; */
  /*   display: flex;
  align-items: center; */
  margin: 0 auto;
}

.slider-portfolio {
  position: relative;
  width: 1235px;
  overflow: hidden;
  margin: 0;
}

.slides-portfolio {
  margin: 0;
  display: flex;
  gap: 100px;
  transition: transform 0.5s ease;
}

.slide-portfolio {
  min-width: 569px;
  height: 365px;
}

.slide-portfolio img {
  border: 1px solid rgba(46, 236, 197, 0.5);
  border-radius: 6px;
  width: 567px;
  height: 363px;
}

.arrow-portfolio {
  position: absolute;
  top: 36%;
  margin-left: -35px;
  gap: 496px;
}

@media (max-width: 1280px) {
.arrow-portfolio {
    position: relative;
    gap: 35px;
    justify-content: center;
    margin-top: 33px;
}
}