.tarif-container {
  margin-top: 46px;
  margin-bottom: 214px;
}

.tarif-block {
  display: flex;
  flex-direction: column;
}

.tarif-text {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

